.cph-button {
  background-color: #0c5b79;
  border-color: #0c5b79;
}
.cph-button:hover {
  background-color: #0c5b79;
  border-color: #0c5b79;
}
.cph-button:focus {
  background-color: #0c5b79;
  border-color: #0c5b79;
}
.compete {
  width: 100%;
  height: 100%;
  background: #F2F6F9;
  .compete-area {
    background: #fff;
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: 40px;
    border: 1px #eee solid;
    .compete-progress {
      width: 85%;
      height: 80px;
      margin: 0 auto;
      .ant-progress {
        margin-top: 30px;
      }
      .ant-progress-bg {
        background: #0c5b79!important;
      }
    }
    .compete-questions {
      width: 80%;
      margin: 0 auto;
      .ant-radio-wrapper {
        display: block;
        margin-bottom: 10px;
      }
    }
    .compete-button-area {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .rate {
    font-size: 40px;
    color: #0c5b79;
    margin-bottom: 60px;
  }
}